.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.layoutContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr;
}

.layoutTop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.layoutMiddle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedNumber {
  flex: 3;
  font-size: 500%;
  margin-right: 5%;
  text-align: right;
}

.timesSign {
  flex: 1;
  font-size: 150%;
  margin-right: 5%;
  text-align: right;
}

.index {
  flex: 1;
  font-size: 200%;
  text-align: center;
}

.layoutAuto {
}

.numberContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numberContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border: 2px solid black;
}

.numberContainer > div > button {
  width: 100%;
  height: 100%;
  font-size: 150%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
